<template name="game">
  <div class="battlefield">
  	{{#if getResultObj}}
  		<div class="gameResult">
			<div>Your result is {{getResultObj}}</div>
			<img src="/images/{{getResultObj}}.png">
		
		</div>
  	{{else}}
		
		{{#each armory}}
			{{>weapon}}
		{{/each}}
		
		{{#if gameNotStarted}}
			{{#if readyToStart}}
				<div class="countDown">
					<div >{{countDown}}</div>
				</div>

			{{else}}
				<div class="loadingBar"> loading objects  
					<div class="emptyBar">
						<div class="bar" style="width: {{objectsLoaded}}%"></div>
					</div>		
				</div>
			{{/if}}
		{{/if}}

	{{/if}}
  	

  </div>
</template>
