.battlefield{
	width: 600px;
	height: 600px;
	border: 5px solid red;
	position: relative;
	left: 25%;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes moveLeft {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(-900%,0%) rotate(360deg);}
}

/* Standard syntax */
@keyframes moveLeft {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(-900%,0%) rotate(360deg);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveRight {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(900%,0%)  rotate(360deg);}
}

/* Standard syntax */
@keyframes moveRight {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(900%,0%) rotate(360deg);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveUp{
    from {transform:translate(0%,0%) rotate(0deg)}
    to  {transform:translate(0%,-1000%) rotate(360deg);}
}

/* Standard syntax */
@keyframes moveUp {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(0%,-1000%) rotate(360deg);}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes moveDown{
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(0%,1000%) rotate(360deg);}
}

/* Standard syntax */
@keyframes moveDown {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(0%,1000%) rotate(360deg);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes gravity{
    from {transform:translate(0%,0%);}
    to  {transform:translate(0%,6000%);}
}

/* Standard syntax */
@keyframes gravity {
    from {transform:translate(0%,0%);}
    to  {transform:translate(0%,6000%);}
}