.battlefield{
	width: 60%;
	height: 100vh;
	border: 5px solid red;
	position: relative;
	margin: 0 auto;
	/*overflow: hidden;*/
}
.loadingBar{


}
.emptyBar{
	width: 60%;
	height: 1vh;
	border: 2px solid grey;
	position: absolute;
	margin: auto;
}
.bar{
	height: 1vh;
	background: red;
	position: relative;
}
.countDown{
	font-size: 10em;
	color: grey;
	position: absolute;
	margin: auto;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes moveLeft {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(-100em,0%) rotate(360deg);}
}

/* Standard syntax */
@keyframes moveLeft {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(-100em,0%) rotate(360deg);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveRight {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(100em,0%)  rotate(360deg);}
}

/* Standard syntax */
@keyframes moveRight {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(100em,0%) rotate(360deg);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveUp{
    from {transform:translate(0%,0%) rotate(0deg)}
    to  {transform:translate(0%,-60em) rotate(360deg);}
}

/* Standard syntax */
@keyframes moveUp {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(0%,-60em) rotate(360deg);}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes moveDown{
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(0%,60em) rotate(360deg);}
}

/* Standard syntax */
@keyframes moveDown {
    from {transform:translate(0%,0%) rotate(0deg);}
    to  {transform:translate(0%,60em) rotate(360deg);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes gravity{
    from {transform:translate(0%,0%);}
    to  {transform:translate(0%,200em);}
}

/* Standard syntax */
@keyframes gravity {
    from {transform:translate(0%,0%);}
    to  {transform:translate(0%,200em);}
}